### python list additon require equal number  of entries as in table but in series entries dont needed full they might b empty

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sk

In [5]:
df = pd.read_csv('./phones_data.csv')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1224 entries, 0 to 1223
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      1224 non-null   int64
 1   brand_name      1224 non-null   object
 2   model_name      1224 non-null   object
 3   os              1027 non-null   object
 4   popularity      1224 non-null   int64
 5   best_price      1224 non-null   float64
 6   lowest_price    964 non-null    float64
 7   highest_price   964 non-null    float64
 8   sellers_amount  1224 non-null   int64
 9   screen_size     1222 non-null   float64
 10  memory_size     1112 non-null   float64
 11  battery_size    1214 non-null   float64
 12  release_date    1224 non-null   object
dtypes: float64(6), int64(3), object(4)
memory usage: 124.4+ KB

In [19]:
df.isnull().sum()

Unnamed: 0          0
brand_name          0
model_name          0
os                197
popularity          0
best_price          0
lowest_price      260
highest_price     260
sellers_amount      0
screen_size         2
memory_size       112
battery_size       10
release_date        0
dtype: int64

In [20]:
df['lowest_price'] = df['lowest_price'].fillna(df['lowest_price'].mean())
df['highest_price'] = df['highest_price'].fillna(df['highest_price'].mean())
df['memory_size'] = df['memory_size'].fillna(df['memory_size'].mean())
df['battery_size'] = df['battery_size'].fillna(df['battery_size'].mean())

In [31]:
del df[df.columns[0]]

In [32]:
df.isnull().sum()

model_name        0
os                0
popularity        0
best_price        0
lowest_price      0
highest_price     0
sellers_amount    0
screen_size       0
memory_size       0
battery_size      0
release_date      0
dtype: int64

In [33]:
df.dropna(inplace=True)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1026 entries, 0 to 1222
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   model_name      1026 non-null   object
 1   os              1026 non-null   object
 2   popularity      1026 non-null   int64
 3   best_price      1026 non-null   float64
 4   lowest_price    1026 non-null   float64
 5   highest_price   1026 non-null   float64
 6   sellers_amount  1026 non-null   int64
 7   screen_size     1026 non-null   float64
 8   memory_size     1026 non-null   float64
 9   battery_size    1026 non-null   float64
 10  release_date    1026 non-null   object
dtypes: float64(6), int64(2), object(3)
memory usage: 96.2+ KB

In [35]:
df.to_csv('cleaned_phone_data.csv', index = False)

In [42]:
h_price = df['highest_price']
l_price = df['lowest_price']
df['average_price'] = h_price - l_price

In [50]:
df

,model_name,os,popularity,best_price,lowest_price,highest_price,sellers_amount,screen_size,memory_size,battery_size,release_date,average_price
0,1 1/8GB Bluish Black (5033D-2JALUAA),Android,422,1690.0,1529.000000,1819.000000,36,5.00,8.0,2000.0,10-2020,290.000000
1,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,323,1803.0,1659.000000,2489.000000,36,5.00,16.0,2000.0,9-2020,830.000000
2,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,299,1803.0,1659.000000,2489.000000,36,5.00,16.0,2000.0,9-2020,830.000000
3,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,287,1803.0,1659.000000,2489.000000,36,5.00,16.0,2000.0,9-2020,830.000000
4,1.3 1/16GB Charcoal,Android,1047,1999.0,7716.018672,9883.410788,10,5.71,16.0,3000.0,4-2020,2167.392116
...,...,...,...,...,...,...,...,...,...,...,...,...
1218,iPhone XS Max 512GB Space Gray (MT622),iOS,842,27190.0,21150.000000,30200.000000,47,6.50,512.0,3174.0,9-2018,9050.000000
1219,iPhone XS Max 64GB Gold (MT522),iOS,1101,22685.0,16018.000000,27900.000000,61,6.50,64.0,3174.0,9-2018,11882.000000
1220,iPhone XS Max Dual Sim 64GB Gold (MT732),iOS,530,24600.0,21939.000000,33720.000000,28,6.50,64.0,3174.0,9-2018,11781.000000
1221,nova 5T 6/128GB Black (51094MEU),Android,1174,8804.0,7999.000000,9999.000000,18,6.26,128.0,3750.0,11-2019,2000.000000
1222,nubia Red Magic 5G 8/128GB Black,Android,752,18755.0,18500.000000,19010.000000,2,6.65,128.0,4500.0,10-2020,510.000000