In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sk

In [16]:
df = pd.read_csv('./phones_data.csv')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1224 entries, 0 to 1223
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      1224 non-null   int64
 1   brand_name      1224 non-null   object
 2   model_name      1224 non-null   object
 3   os              1027 non-null   object
 4   popularity      1224 non-null   int64
 5   best_price      1224 non-null   float64
 6   lowest_price    964 non-null    float64
 7   highest_price   964 non-null    float64
 8   sellers_amount  1224 non-null   int64
 9   screen_size     1222 non-null   float64
 10  memory_size     1112 non-null   float64
 11  battery_size    1214 non-null   float64
 12  release_date    1224 non-null   object
dtypes: float64(6), int64(3), object(4)
memory usage: 124.4+ KB

In [18]:
df.isnull().sum()

Unnamed: 0          0
brand_name          0
model_name          0
os                197
popularity          0
best_price          0
lowest_price      260
highest_price     260
sellers_amount      0
screen_size         2
memory_size       112
battery_size       10
release_date        0
dtype: int64

In [27]:
df['lowest_price'] = df['lowest_price'].fillna(df['lowest_price'].mean())
df['highest_price'] = df['highest_price'].fillna(df['highest_price'].mean())
df['memory_size'] = df['memory_size'].fillna(df['memory_size'].mean())
df['battery_size'] = df['battery_size'].fillna(df['battery_size'].mean())

In [29]:
df.dropna(inplace=True)

In [30]:
df.isnull().sum()

Unnamed: 0        0
brand_name        0
model_name        0
os                0
popularity        0
best_price        0
lowest_price      0
highest_price     0
sellers_amount    0
screen_size       0
memory_size       0
battery_size      0
release_date      0
dtype: int64