# Scikit_learn_New_Data

In [2]:
# standerd imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [23]:
df = pd.read_csv('mobile_detail.csv')
df = df.drop(columns='corpus')
df = df.drop(columns='imgURL')
df

,ratings,price,brand,mobile_name,color,storage,system,processor_type,resolution,size
0,4.2,23999,redmi,Note 12 Pro 5G,black,128,android,mediatek,Full HD,6.7
1,4.5,20999,oppo,F11 Pro,green,128,android,mediatek,Full HD,6.5
2,4.2,13149,redmi,Note 11,white,64,android,NaN,Full HD,6.4
3,4.1,21999,oneplus,Nord CE 5G,blue,256,android,qualcomm,Full HD,6.4
4,4.6,3537,apple,iPhone 13 mini,blue,128,ios,apple,Full HD,5.4
...,...,...,...,...,...,...,...,...,...,...
1979,4.2,29999,oneplus,7 Pro,blue,256,android,NaN,2K,6.7
1980,4.1,15999,motorola,g72,grey,128,android,mediatek,Full HD,6.5
1981,4.3,11999,redmi,Note 9,black,64,android,mediatek,Full HD,6.5
1982,3.9,30203,oneplus,9 5G,black,128,android,NaN,Full HD,6.5
1983,4.4,13999,vivo,T2x 5G,gold,128,android,mediatek,Full HD,6.6

In [32]:
df.isnull().sum()
df = df.dropna()

In [34]:
df.isnull().sum()

ratings           0
price             0
brand             0
mobile_name       0
color             0
storage           0
system            0
processor_type    0
resolution        0
size              0
dtype: int64

In [52]:
# df.info()
df.columns

Index(['ratings', 'price', 'brand', 'mobile_name', 'color', 'storage',
       'system', 'processor_type', 'resolution', 'size'],
      dtype='object')

In [44]:
df['resolution'].unique()

array(['Full HD', '4K', 'HD', '2K'], dtype=object)

In [65]:
df['price']
df

,ratings,price,brand,mobile_name,color,storage,system,processor_type,resolution,size
0,4.2,23999,redmi,Note 12 Pro 5G,black,128,android,mediatek,Full HD,6.7
1,4.5,20999,oppo,F11 Pro,green,128,android,mediatek,Full HD,6.5
3,4.1,21999,oneplus,Nord CE 5G,blue,256,android,qualcomm,Full HD,6.4
4,4.6,3537,apple,iPhone 13 mini,blue,128,ios,apple,Full HD,5.4
5,4.5,5537,apple,iPhone 6s Plus,gold,64,ios,apple,4K,5.5
...,...,...,...,...,...,...,...,...,...,...
1977,4.3,9490,vivo,Y3s,blue,32,android,mediatek,HD,6.5
1978,4.5,11464,apple,iPhone 8,grey,256,ios,apple,HD,4.7
1980,4.1,15999,motorola,g72,grey,128,android,mediatek,Full HD,6.5
1981,4.3,11999,redmi,Note 9,black,64,android,mediatek,Full HD,6.5
1983,4.4,13999,vivo,T2x 5G,gold,128,android,mediatek,Full HD,6.6

In [61]:
# Build ML Models
X = df.drop('price', axis = 1)
y = df['price']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=.20)

In [ ]:
# Build ML model
from sklearn.ensemble import RandomForestRegressor
phon_model = RandomForestRegressor()
phon_model.fit(X_train, y_train)
phon_model.score(X_test, y_test)

In [68]:
df

,ratings,price,brand,mobile_name,color,storage,system,processor_type,resolution,size
0,4.2,23999,redmi,Note 12 Pro 5G,black,128,android,mediatek,Full HD,6.7
1,4.5,20999,oppo,F11 Pro,green,128,android,mediatek,Full HD,6.5
3,4.1,21999,oneplus,Nord CE 5G,blue,256,android,qualcomm,Full HD,6.4
4,4.6,3537,apple,iPhone 13 mini,blue,128,ios,apple,Full HD,5.4
5,4.5,5537,apple,iPhone 6s Plus,gold,64,ios,apple,4K,5.5
...,...,...,...,...,...,...,...,...,...,...
1977,4.3,9490,vivo,Y3s,blue,32,android,mediatek,HD,6.5
1978,4.5,11464,apple,iPhone 8,grey,256,ios,apple,HD,4.7
1980,4.1,15999,motorola,g72,grey,128,android,mediatek,Full HD,6.5
1981,4.3,11999,redmi,Note 9,black,64,android,mediatek,Full HD,6.5
1983,4.4,13999,vivo,T2x 5G,gold,128,android,mediatek,Full HD,6.6

In [73]:
# encoding
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
feature_cat = ["brand","mobile_name","color", "system","system","processor_type","resolution"]
featured = OneHotEncoder()
trans = ColumnTransformer([('featured_final',featured,feature_cat)],
                         remainder="passthrough")
transformed_X = trans.fit_transform(X)

pd.DataFrame(transformed_X)

                                                      0
0     <Compressed Sparse Row sparse matrix of dtype ...
1     <Compressed Sparse Row sparse matrix of dtype ...
2     <Compressed Sparse Row sparse matrix of dtype ...
3     <Compressed Sparse Row sparse matrix of dtype ...
4     <Compressed Sparse Row sparse matrix of dtype ...
...                                                 ...
1638  <Compressed Sparse Row sparse matrix of dtype ...
1639  <Compressed Sparse Row sparse matrix of dtype ...
1640  <Compressed Sparse Row sparse matrix of dtype ...
1641  <Compressed Sparse Row sparse matrix of dtype ...
1642  <Compressed Sparse Row sparse matrix of dtype ...

[1643 rows x 1 columns]