### python list additon require equal number  of entries as in table but in series entries dont needed full they might b empty

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sk

In [5]:
df = pd.read_csv('./phones_data.csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1224 entries, 0 to 1223
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      1224 non-null   int64
 1   brand_name      1224 non-null   object
 2   model_name      1224 non-null   object
 3   os              1027 non-null   object
 4   popularity      1224 non-null   int64
 5   best_price      1224 non-null   float64
 6   lowest_price    964 non-null    float64
 7   highest_price   964 non-null    float64
 8   sellers_amount  1224 non-null   int64
 9   screen_size     1222 non-null   float64
 10  memory_size     1112 non-null   float64
 11  battery_size    1214 non-null   float64
 12  release_date    1224 non-null   object
dtypes: float64(6), int64(3), object(4)
memory usage: 124.4+ KB

In [7]:
df.isnull().sum()

Unnamed: 0          0
brand_name          0
model_name          0
os                197
popularity          0
best_price          0
lowest_price      260
highest_price     260
sellers_amount      0
screen_size         2
memory_size       112
battery_size       10
release_date        0
dtype: int64

In [8]:
df['lowest_price'] = df['lowest_price'].fillna(df['lowest_price'].mean())
df['highest_price'] = df['highest_price'].fillna(df['highest_price'].mean())
df['memory_size'] = df['memory_size'].fillna(df['memory_size'].mean())
df['battery_size'] = df['battery_size'].fillna(df['battery_size'].mean())

In [9]:
del df[df.columns[0]]

In [10]:
df.isnull().sum()

brand_name          0
model_name          0
os                197
popularity          0
best_price          0
lowest_price        0
highest_price       0
sellers_amount      0
screen_size         2
memory_size         0
battery_size        0
release_date        0
dtype: int64

In [11]:
df.dropna(inplace=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1026 entries, 0 to 1222
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   brand_name      1026 non-null   object
 1   model_name      1026 non-null   object
 2   os              1026 non-null   object
 3   popularity      1026 non-null   int64
 4   best_price      1026 non-null   float64
 5   lowest_price    1026 non-null   float64
 6   highest_price   1026 non-null   float64
 7   sellers_amount  1026 non-null   int64
 8   screen_size     1026 non-null   float64
 9   memory_size     1026 non-null   float64
 10  battery_size    1026 non-null   float64
 11  release_date    1026 non-null   object
dtypes: float64(6), int64(2), object(4)
memory usage: 104.2+ KB

In [13]:
df.to_csv('cleaned_phone_data.csv', index = False)

In [14]:
h_price = df['highest_price']
l_price = df['lowest_price']
df['average_price'] = h_price - l_price

In [15]:
df

,brand_name,model_name,os,popularity,best_price,lowest_price,highest_price,sellers_amount,screen_size,memory_size,battery_size,release_date,average_price
0,ALCATEL,1 1/8GB Bluish Black (5033D-2JALUAA),Android,422,1690.0,1529.000000,1819.000000,36,5.00,8.0,2000.0,10-2020,290.000000
1,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,323,1803.0,1659.000000,2489.000000,36,5.00,16.0,2000.0,9-2020,830.000000
2,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,299,1803.0,1659.000000,2489.000000,36,5.00,16.0,2000.0,9-2020,830.000000
3,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,287,1803.0,1659.000000,2489.000000,36,5.00,16.0,2000.0,9-2020,830.000000
4,Nokia,1.3 1/16GB Charcoal,Android,1047,1999.0,7716.018672,9883.410788,10,5.71,16.0,3000.0,4-2020,2167.392116
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1218,Apple,iPhone XS Max 512GB Space Gray (MT622),iOS,842,27190.0,21150.000000,30200.000000,47,6.50,512.0,3174.0,9-2018,9050.000000
1219,Apple,iPhone XS Max 64GB Gold (MT522),iOS,1101,22685.0,16018.000000,27900.000000,61,6.50,64.0,3174.0,9-2018,11882.000000
1220,Apple,iPhone XS Max Dual Sim 64GB Gold (MT732),iOS,530,24600.0,21939.000000,33720.000000,28,6.50,64.0,3174.0,9-2018,11781.000000
1221,HUAWEI,nova 5T 6/128GB Black (51094MEU),Android,1174,8804.0,7999.000000,9999.000000,18,6.26,128.0,3750.0,11-2019,2000.000000
1222,ZTE,nubia Red Magic 5G 8/128GB Black,Android,752,18755.0,18500.000000,19010.000000,2,6.65,128.0,4500.0,10-2020,510.000000

In [16]:
# adding new columns
df['new_col'] = 3
df
del df[df.columns[12]]
df

,brand_name,model_name,os,popularity,best_price,lowest_price,highest_price,sellers_amount,screen_size,memory_size,battery_size,release_date,new_col
0,ALCATEL,1 1/8GB Bluish Black (5033D-2JALUAA),Android,422,1690.0,1529.000000,1819.000000,36,5.00,8.0,2000.0,10-2020,3
1,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,323,1803.0,1659.000000,2489.000000,36,5.00,16.0,2000.0,9-2020,3
2,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,299,1803.0,1659.000000,2489.000000,36,5.00,16.0,2000.0,9-2020,3
3,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,287,1803.0,1659.000000,2489.000000,36,5.00,16.0,2000.0,9-2020,3
4,Nokia,1.3 1/16GB Charcoal,Android,1047,1999.0,7716.018672,9883.410788,10,5.71,16.0,3000.0,4-2020,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1218,Apple,iPhone XS Max 512GB Space Gray (MT622),iOS,842,27190.0,21150.000000,30200.000000,47,6.50,512.0,3174.0,9-2018,3
1219,Apple,iPhone XS Max 64GB Gold (MT522),iOS,1101,22685.0,16018.000000,27900.000000,61,6.50,64.0,3174.0,9-2018,3
1220,Apple,iPhone XS Max Dual Sim 64GB Gold (MT732),iOS,530,24600.0,21939.000000,33720.000000,28,6.50,64.0,3174.0,9-2018,3
1221,HUAWEI,nova 5T 6/128GB Black (51094MEU),Android,1174,8804.0,7999.000000,9999.000000,18,6.26,128.0,3750.0,11-2019,3
1222,ZTE,nubia Red Magic 5G 8/128GB Black,Android,752,18755.0,18500.000000,19010.000000,2,6.65,128.0,4500.0,10-2020,3

In [22]:
# take sample
df.sample(frac = 0.01)

,brand_name,model_name,os,popularity,best_price,lowest_price,highest_price,sellers_amount,screen_size,memory_size,battery_size,release_date,new_col
1084,DOOGEE,Y9 Plus 4/64GB Black,Android,15,3199.0,7716.018672,9883.410788,1,6.30,64.0,4350.0,12-2019,3
366,Motorola,G7 4/64GB Ceramic Black (XT1962-6),Android,686,4849.0,4499.000000,5199.000000,2,6.20,64.0,3000.0,7-2020,3
919,Vernee,T3 Pro 3/16GB Black,Android,648,1949.0,7716.018672,9883.410788,1,5.50,16.0,4080.0,12-2018,3
598,HUAWEI,Mate 20 DS 6/64GB Black,Android,566,13612.0,13255.000000,13969.000000,2,6.53,64.0,4000.0,1-2019,3
1154,Apple,iPhone 12 Pro Max 256GB Dual Sim Pacific Blue ...,iOS,997,41729.0,39620.000000,50999.000000,30,6.70,256.0,3687.0,11-2020,3
914,Tecno,Spark 6 KE7 4/64GB Ocean Blue (4895180762024),Android,983,3750.0,3399.000000,3999.000000,44,6.80,64.0,5000.0,11-2020,3
714,S-TELL,P760 Black,Android,391,1799.0,7716.018672,9883.410788,1,5.50,16.0,4000.0,3-2019,3
532,Samsung,Galaxy S9 SM-G960 DS 128GB Purple (SM-G960FZPG),Android,249,13537.0,12754.000000,14367.000000,9,5.80,128.0,3000.0,2-2018,3
484,Samsung,Galaxy S10+ SM-G975 DS 512GB Black (SM-G975FCKG),Android,910,21304.0,18619.000000,39999.000000,26,6.40,512.0,4000.0,2-2019,3
251,Blackview,BV9900 Pro 8/128GB Gray,Android,802,12667.0,12077.000000,14279.000000,6,5.84,128.0,4380.0,6-2020,3

In [32]:
df.reset_index(drop=True, inplace = True)
df

,index,brand_name,model_name,os,popularity,best_price,lowest_price,highest_price,sellers_amount,screen_size,memory_size,battery_size,release_date,new_col
0,0,ALCATEL,1 1/8GB Bluish Black (5033D-2JALUAA),Android,422.0,1690.0,1529.000000,1819.000000,36,5.00,8.0,2000.0,10-2020,3
1,1,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,323.0,1803.0,1659.000000,2489.000000,36,5.00,16.0,2000.0,9-2020,3
2,2,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,299.0,1803.0,1659.000000,2489.000000,36,5.00,16.0,2000.0,9-2020,3
3,3,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,287.0,1803.0,1659.000000,2489.000000,36,5.00,16.0,2000.0,9-2020,3
4,4,Nokia,1.3 1/16GB Charcoal,Android,1047.0,1999.0,7716.018672,9883.410788,10,5.71,16.0,3000.0,4-2020,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1021,1021,Apple,iPhone XS Max 512GB Space Gray (MT622),iOS,842.0,27190.0,21150.000000,30200.000000,47,6.50,512.0,3174.0,9-2018,3
1022,1022,Apple,iPhone XS Max 64GB Gold (MT522),iOS,1101.0,22685.0,16018.000000,27900.000000,61,6.50,64.0,3174.0,9-2018,3
1023,1023,Apple,iPhone XS Max Dual Sim 64GB Gold (MT732),iOS,530.0,24600.0,21939.000000,33720.000000,28,6.50,64.0,3174.0,9-2018,3
1024,1024,HUAWEI,nova 5T 6/128GB Black (51094MEU),Android,1174.0,8804.0,7999.000000,9999.000000,18,6.26,128.0,3750.0,11-2019,3
1025,1025,ZTE,nubia Red Magic 5G 8/128GB Black,Android,752.0,18755.0,18500.000000,19010.000000,2,6.65,128.0,4500.0,10-2020,3

In [31]:
df['popularity'] = df['popularity'].apply(lambda x:x*1000)
df

,index,brand_name,model_name,os,popularity,best_price,lowest_price,highest_price,sellers_amount,screen_size,memory_size,battery_size,release_date,new_col
0,0,ALCATEL,1 1/8GB Bluish Black (5033D-2JALUAA),Android,422.0,1690.0,1529.000000,1819.000000,36,5.00,8.0,2000.0,10-2020,3
1,1,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,323.0,1803.0,1659.000000,2489.000000,36,5.00,16.0,2000.0,9-2020,3
2,2,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,299.0,1803.0,1659.000000,2489.000000,36,5.00,16.0,2000.0,9-2020,3
3,3,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,287.0,1803.0,1659.000000,2489.000000,36,5.00,16.0,2000.0,9-2020,3
4,4,Nokia,1.3 1/16GB Charcoal,Android,1047.0,1999.0,7716.018672,9883.410788,10,5.71,16.0,3000.0,4-2020,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1021,1021,Apple,iPhone XS Max 512GB Space Gray (MT622),iOS,842.0,27190.0,21150.000000,30200.000000,47,6.50,512.0,3174.0,9-2018,3
1022,1022,Apple,iPhone XS Max 64GB Gold (MT522),iOS,1101.0,22685.0,16018.000000,27900.000000,61,6.50,64.0,3174.0,9-2018,3
1023,1023,Apple,iPhone XS Max Dual Sim 64GB Gold (MT732),iOS,530.0,24600.0,21939.000000,33720.000000,28,6.50,64.0,3174.0,9-2018,3
1024,1024,HUAWEI,nova 5T 6/128GB Black (51094MEU),Android,1174.0,8804.0,7999.000000,9999.000000,18,6.26,128.0,3750.0,11-2019,3
1025,1025,ZTE,nubia Red Magic 5G 8/128GB Black,Android,752.0,18755.0,18500.000000,19010.000000,2,6.65,128.0,4500.0,10-2020,3