# Pandas MatplotLib

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
from matplotlib.image import imread
import  matplotlib.pyplot as plt

In [18]:
df = pd.read_csv('cleaned_phone_data.csv')
df.columns

Index(['brand_name', 'model_name', 'os', 'popularity', 'best_price',
       'lowest_price', 'highest_price', 'sellers_amount', 'screen_size',
       'memory_size', 'battery_size', 'release_date'],
      dtype='object')

In [20]:
s_columns = ['model_name','model_name','best_price','memory_size','battery_size']
df_2 = df[s_columns]

In [21]:
df_2

,model_name,model_name,best_price,memory_size,battery_size
0,1 1/8GB Bluish Black (5033D-2JALUAA),1 1/8GB Bluish Black (5033D-2JALUAA),1690.0,8.0,2000.0
1,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),1 5033D 1/16GB Volcano Black (5033D-2LALUAF),1803.0,16.0,2000.0
2,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),1 5033D 1/16GB Volcano Black (5033D-2LALUAF),1803.0,16.0,2000.0
3,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),1 5033D 1/16GB Volcano Black (5033D-2LALUAF),1803.0,16.0,2000.0
4,1.3 1/16GB Charcoal,1.3 1/16GB Charcoal,1999.0,16.0,3000.0
...,...,...,...,...,...
1021,iPhone XS Max 512GB Space Gray (MT622),iPhone XS Max 512GB Space Gray (MT622),27190.0,512.0,3174.0
1022,iPhone XS Max 64GB Gold (MT522),iPhone XS Max 64GB Gold (MT522),22685.0,64.0,3174.0
1023,iPhone XS Max Dual Sim 64GB Gold (MT732),iPhone XS Max Dual Sim 64GB Gold (MT732),24600.0,64.0,3174.0
1024,nova 5T 6/128GB Black (51094MEU),nova 5T 6/128GB Black (51094MEU),8804.0,128.0,3750.0
1025,nubia Red Magic 5G 8/128GB Black,nubia Red Magic 5G 8/128GB Black,18755.0,128.0,4500.0